beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
DateTime==4.3
docutils==0.16
idna==2.10
pytz==2020.5
requests==2.25.1
soupsieve==2.2.1
statistics==1.0.3.5
urllib3==1.26.3
zope.interface==5.2.0
